
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}

body{ 
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    margin:0;
    background-color: #333;
    color: #222;
}

.container {
    background-color: #fafafa;
    width: 100vw;
    height: auto;
    transform-origin: top left;
    transition: transform 0.5s linear;
    padding: 50px;
}

/* this controls the page slide flex*/
.container.show-nav {
    transform: rotate(-20deg);
}

/* controls he position of the nav*/
nav{
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}

/*romoves the bullets on the nav items*/
 nav li{
    list-style-type: none;
    padding-left: 30px;
 }

 /* controls the fonts in the nav */
 nav ul li {
    text-transform: uppercase;
    color: white;
    margin: 40px 0;
   /* transform: translateX( -100%);*/
    transition: transform 0.5s ease-in;
 }

 /*controls the icon in the nav*/
 nav ul li i{
    font-size: 20px;
    margin-right: 10px;
 }

/*the position of the circle on top of he page is controled by this code here*/
.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

/* the circle itself is controlled by this code here the color and shape*/
.circle{
    background-color: #09a143;
    height:200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}

/* the icons in the circle up the page is controlled by this code */
.circle button{
    position: absolute;
    top: 50%;
    cursor: pointer;
    left: 50%;
    height: 100px;
    background-color: transparent;
    border: 0;
    font-size: 26px;
    color: white;
}


.circle button:focus{
    outline: none;
}
.circle button#open{
    left:60%;
}

.circle button#close{
    top:60%;
    transform: rotate(90deg);
    transform-origin: top left;
}
 .anime img{
    border-radius: 20%;
    display: inline-block;
    align-items: center;
    justify-content: center
 }

/* this section makes the content stay in the middles no matter what size the screen is*/
.content{
    max-width: 1000px;
    margin: 50px auto;
}

.content h1 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.content small{
    color: gray;
    font-style: italic;
    align-items: center;
}

.content p{
    color: #333;
    line-height: 1-5;
}


img{
    width: 150px;
    height: 200px;
}
#anime {
    position: space-between;
}